/* All */
:root {
    --nav-pt: 0.5em;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* Header */
header {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(45deg, #4287f5, #1452b5);
}

header .logo {
    margin-bottom: -2px;
}

nav, nav li {
    display: inline-flex;
    justify-content: space-between;
    
}

nav {
    height: 4em;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
}

nav span {
    font-size: 48px;
    padding-left: 1em;
}

nav li {
    font-size: 24px;
    margin-right: 4em;
    position: relative;
}

/* @media (max-width: 1200px) {
    nav li {
        margin-right: 0.75em;
    }
} */

@media (max-width: 1000px) {
    nav li {
        margin-right: 2em;
    }
    nav span {
        margin-right: 0.75em;
    }
}

@media (max-width: 700px) {
    nav li {
        margin-right: 1em;
    }
    nav span {
        padding-left: 0.5em;
    }
}
/* 
.ham {
  display: none;
  position: relative;
  top: 50px;
  right: 50px;
  z-index: 1;
  user-select: none;
}

.ham input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  
} */

/* Just a quick hamburger */
/* .ham span {
  display: block;
  width: 10px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;

} */

/* .menu
{
    display: none;
    position: absolute;
    width: 300px;
  
}

.menu li
{
  padding: 10px 0;
  font-size: 22px;
} */

@media (max-width: 600px) {
    nav li {
        font-size: 18px;
        margin-right: 1em;
    }
    nav span {
        font-size: 28px;
        padding-left: 1em;
    }
} 

/* @media (max-width: 500px) {
    nav li {
        font-size: 18px;
        margin-right: 1em;
    }
    nav span {
        font-size: 28px;
        padding-left: 1em;
    }
}  */

nav li:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
}

@keyframes underline-grow {
    0% {width: 0%;}
    100% {width: 100%; }
}

nav li:hover:after {
    background-color: black;
    animation: underline-grow 0.5s;
}
.header-cont {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.header-cont .outer-span {
    font-size: 32px;
    font-weight: 300;
}

@keyframes type-anim {
    0%, 5% {content: '';}
    7% {content: 'D';}
    9% {content: 'De';}
    11% {content: 'Dev';}
    13% {content: 'Deve';}
    15% {content: 'Devel';}
    17% {content: 'Develo';}
    19% {content: 'Develop';}
    21% {content: 'Develope';}
    23%, 38% {content: 'Developer';}
    39% {content: 'Develope';}
    40% {content: 'Develop';}
    41% {content: 'Develo';}
    42% {content: 'Devel';}
    43% {content: 'Deve';}
    44% {content: 'Dev';}
    45% {content: 'De';}
    46% {content: 'D';}
    47%, 57% {content: '';}
    59% {content: 'S';}
    61% {content: 'St';}
    63% {content: 'Stu';}
    65% {content: 'Stud';}
    67% {content: 'Stude';}
    69% {content: 'Studen';}
    71%, 86% {content: 'Student';}
    87% {content: 'Studen';}
    88% {content: 'Stude';}
    89% {content: 'Stud';}
    90% {content: 'Stu';}
    91% {content: 'St';}
    92% {content: 'S';}
    93%, 100% {content: '';}
}

.header-cont .inner-span {
    position: relative;
}

.header-cont .inner-span::before {
    font-size: 32px;
    content: '';
    animation: type-anim 10s infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

.header-cont .inner-span::after {
    position: absolute;
    color: black;
    font-size: 32px;
    margin: -3px;
    content: '|';
    animation: blink 1s infinite;
}


/* Main */
main {
    display: flex;
    width: 100%;
    background-color: #2e3d48;
}

main .bio-cont {
    display: flex;
    width: auto;
    background-color: #fff;
    padding: 2em;
}

main .bio-cont img {
    width: 300px;
    height: auto;
    border-radius: 2em;
    
}

main .bio-cont article {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2;
}

main .bio-cont article h1 {
    margin-bottom: 1em;
}

@media (max-width: 1100px) {
    main .bio-cont article {
        line-height: 1.5;
    }
}

@media (max-width: 860px) {
    main .bio-cont {
        flex-direction: column-reverse;
    }
    main .bio-cont article{
        margin-bottom: 2em;
    }
    main .bio-cont img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: calc(70% - 2em);
    }
}

footer {
    text-align: center;
}